@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  background-color: #f8f5f0;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  color: #020617;
  min-height: 100vh;
}

@font-face {
font-display: auto;
font-family: 'MUZUViWSVAtSEFTVEVHSSPVEY';
font-style: normal;
font-weight: normal;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F94e2881adb2bb4cc479bfb7b3ce791730ac4b892?generation=1762677299248526&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'QSTUSQUUSUGQUULUFRElVTSUVEY';
font-style: normal;
font-weight: normal;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fe4cb4e2573b27479c2237d149f73652b3f5508c9?generation=1762677299260804&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'RUJHYXJhbWuZCNZWRpdWudHRm';
font-style: normal;
font-weight: normal;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fe51a152292f12d2df8c2b73bdf4f42535c8a07bc?generation=1762677299279040&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-stretch: 100%;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fb68160c9333af833fe483928b3ef7128c07a56a0?generation=1759844372921091&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-stretch: 100%;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fb68160c9333af833fe483928b3ef7128c07a56a0?generation=1759844372921091&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'IzlTbGlkZTAzIEljaWVsIEZvcnQgRmbmRyeSBSaWZIFJlZVsYXIudHRm';
font-style: normal;
font-weight: normal;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ff9927614b6cb3adb9e1db30c1fa8848f55f0d671?generation=1762677299260857&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'MUZUViWSVAtQVJDSVRUWUEtQkVHQVRSSSPVEY';
font-style: normal;
font-weight: normal;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fbd8fd4d65347156abed4868a12e72278318d34de?generation=1762677299262789&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'IzlTbGlkZTAzIEljaWVsTmZWNlbnRvcFucyObJtYWwudHRm';
font-style: normal;
font-weight: normal;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F0b01f42ab17a4a72acc4df56518bd0db7d12aeb6?generation=1762677299249869&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'MUZUViWSVAtTWuclldXItTGEtRGbGFpcUtUmVndWxhcivdGY';
font-style: normal;
font-weight: normal;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fe821fc8dd91580dd2df521286b32c2a413681e24?generation=1762677299238717&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'RUJHYXJhbWuZCSZWdbGFyLnRZg';
font-style: normal;
font-weight: normal;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fa42a80ba62a0290259a43ac0cb7bb4341e18b387?generation=1762677299260759&alt=media') format('woff2');
}
